<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Genres</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

        <style>
            .custom-table {
                border-collapse: collapse;
                width: 100%;
            }

            .custom-table th,
            .custom-table td {
                border: 1px solid #dee2e6;
                padding: 0.75rem;
            }

            .custom-table thead th {
                background-color: #343a40;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container p-3">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid px-0">
                    <a class="navbar-brand pt-0" href="#">Library</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/authors">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/genres">Genres</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <p class="h3">Genres</p>
            <table class="table mt-2 align-middle custom-table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody id = "genre-info">

                </tbody>
            </table>
        </div>
        <script>
            function addGenreInfo(genreInfo) {
                let tBody = document.getElementById('genre-info');

                let row = document.createElement('tr');

                let genreName = document.createElement('td');
                genreName.innerHTML = genreInfo.name;

                row.appendChild(genreName);
                tBody.appendChild(row);
            }

            function loadGenres() {
                fetch("api/genre")
                    .then(response => response.json())
                    .then(genreList => {
                            let tbody = document.getElementById('genre-info');
                            tbody.innerHTML = '';
                            genreList.forEach(genreInfo => addGenreInfo(genreInfo));
                        }
                    );
            }

            loadGenres();
        </script>
    </body>
</html>