<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${book.title}">Book title</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>
    <body>
        <div class="container p-3">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid px-0">
                    <a class="navbar-brand pt-0" href="#">Library</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="book-list.html" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="author-list.html" th:href="@{/authors}">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="genre-list.html" th:href="@{/genres}">Genres</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <p class="h3">Book info</p>
            <div class="d-flex flex-row mb-3 gap-2">
                <a class="btn btn-primary" href="book-edit.html" th:href="@{/books/edit(id=${book.id})}">Edit</a>
                <form th:action="@{/books/delete(id=${book.id})}" method="post" onsubmit="return confirm('Confirm to delete book?');">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-warning" type="submit">Delete</button>
                </form>
            </div>
            <div th:object="${book}">
                <div class="mb-3">
                    <label class="form-label me-2"><strong>Title:</strong></label>
                    <label class="form-label" th:text="*{title}">Title</label>
                </div>
                <div class="mb-3">
                    <label class="form-label me-2"><strong>Author:</strong></label>
                    <label class="form-label" th:text="*{author.fullName}">Author</label>
                </div>
                <div class="mb-3">
                    <label class="form-label me-2"><strong>Genres:</strong></label>
                    <span class="form-label" th:each="genre, iterStat : *{genres}">
                        <span th:text="${genre.name}">Genre</span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </div>
            </div>
            <p class="h3">Comments</p>
            <div th:each="comment, iterStat : ${comments}">
                <span th:text="${comment.text}">Comment text</span>
                <hr th:if="${!iterStat.last}">
            </div>
        </div>
    </body>
</html>